@import '../../../css/_colors';
@import '../../../css/_fonts';

/* Header CSS */
.header{
	margin-top: 10px;
	h1{
		font-family:"onyx";
		font-size:46px;
		margin-left:15px;
		text-transform: uppercase;
	}
}
/* End Header CSS */
