@font-face {
  font-family: 'gothic';
  src: 
       url('/fonts/Gothic.TTF')  format('truetype');
}
@font-face {
  font-family: 'gothic-bold';
  src: 
       url('/fonts/Gothicb.TTF')  format('truetype');
}
@font-face {
  font-family: 'onyx';
  src: 
       url('/fonts/ONYX.TTF')  format('truetype');
}
@font-face {
  font-family: 'pinyon';
  src: 
       url('/fonts/PinyonScript-Regular.ttf')  format('truetype');
}

